/*
* @Author: Adrián Epifanio
* @Date:   2020-03-28 12:35:17
* @Last Modified by:   Adrián Epifanio
* @Last Modified time: 2020-03-29 19:31:41
*/
body {
	font-family: sans-serif;
	text-align: center;
	padding: 3rem;
	font-size: 1.125rem;
	line-height: 1.5;
	transition: all 725ms ease-in-out;
}

h1 {
	font-size: 2rem;
	font-weight: bolder;
	margin-bottom: 1rem;
}
